.scroller {
  max-width: 100%;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.inner {
  padding-block: 1rem;
  display: flex;
  gap: 3rem;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s forwards linear infinite;
  will-change: transform;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
  opacity: 0.8;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1.5rem));
  }
}