.masonryGrid {
    display: flex;
    margin-left: calc(-1 * var(--static-space-16));
    width: 100%;
}

.masonryGridColumn {
    padding-left: var(--static-space-16);
    background-clip: padding-box;
}

.gridItem {
    margin-bottom: var(--static-space-16);
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        filter: brightness(1.05);
    }
}